.both-columns {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  .fav-char {
    flex: 1;
    div {
      position: relative;
    }
  }
  .fav-comic {
    flex: 1;
    div {
      position: relative;
    }
  }
  h1 {
    margin-bottom: 50px;
  }
  button {
    position: absolute;
    bottom: 10px;
    right: 250px;
    z-index: 3;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 16px;
  }
  button:hover {
    cursor: pointer;
  }
  .fav-off:hover {
    background-color: grey;
  }
  .fav-on {
    background-color: darkred;
  }
  .fav-on:hover {
    background-color: red;
  }
}
