.comicsInFavoritePage {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10%;
  }
  .pTitle {
    font-size: 1em;
  }
  .pDesc {
    display: none;
  }
}
